body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}
button { border: 2px solid black;
    border-radius: .25rem;
    color: #fff; 
    padding: 10px;
    width: 100px;
    margin: 10px;
    font-size: 18px;
    outline: none;
}
textarea{
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
}
label {
    font-size: 18px; 
}
button:hover {
    opacity: 0.8;
} 

button:disabled,
button[disabled]{
    opacity: 0.4;
} 
input {
    padding: 10px;
    width: 200px;
    font-size: 18px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    outline: none;
}
label {
    margin: 12px;
}
.container {
   border: 3px solid #e9ecef;
   padding: 10px;
   margin: 10px;
   text-align: center;
}

.head {
    background-color: #e9ecef;
    color: #fff;
}

.success {
    background-color: #28a745;
    border-color: #28a745;
}

.danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.primary {
    background-color: #007bff;
    border-color: #007bff;
}

.info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.notValid {
    border-color: #dc3545;
}

.right {
    float:right;
}

.left {
    float:left;
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.spinner {
    color: #28a745;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

.spinner-span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

@media only screen and (max-width: 1000px) {
    .right, .left {
        float:none;
    }
}